<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Othello Game</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>To move: <span id="player-turn">black</span></h1>
        <div class="container" id="board"></div>
        <script src="" async defer></script>
    </body>
    <script>
        // create board with starting pieces
        for(let k = 0; k < 64; k++){
            let div = document.createElement("div");
            div.id = "pos" + k;
            document.getElementById("board").appendChild(div);
            // start state
            if(k == 27 || k == 36){
                placePiece(div.id, "white");
            }
            if(k == 28 || k == 35){
                placePiece(div.id, "black");
            }
            div.onclick = async () => {
                let id_string = ""+div.id
                let res = await makeMove(div.id);
                renderBoard(res.board, res.possible_moves);
                player_turn = res.to_move;
                if (player_turn == "O"){
                    document.getElementById("player-turn").innerText = "white";
                } else {
                    document.getElementById("player-turn").innerText = "black";
                }
            }
        }

        async function makeMove(position) {
            let response = await fetch("http://localhost:5000/move?pos=" + position, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    position: position
                })
            });
            let data = await response.json();
            console.log(data);
            return data;
        }

        function placePiece(position, color) {
            let div = document.getElementById(position);
            let img_url = 'images/' + color + '.png';
            div.innerHTML = "<img src='static/images/"+ color +".png'>";
        }

        function renderBoard(board, possible_moves) {
            for(let k = 0; k < 64; k++){
                let div = document.getElementById("pos" + k);
                let color = board[k];
                if(possible_moves.includes(k)){
                    div.style.backgroundColor = "yellow";
                } else {
                    div.style.backgroundColor = "green";
                }
                if(color == "X"){
                    placePiece(div.id, "black");
                }
                if(color == "O"){
                    placePiece(div.id, "white");
                }
            }
        }

    </script>
</html>